<nav>
    <ul>
        <li{% if current_page == 'index' %} class="current_page"{% endif %}>
            <a href="{{ path('index') }}">Accueil</a>
        </li>
        <li{% if current_page == 'packs' %} class="current_page"{% endif %}>
            <a href="{{ path('packs') }}">Packs</a>
        </li>
        <li{% if current_page == 'program' %} class="current_page"{% endif %}>
            <a href="{{ path('program') }}">Soirée</a>
        </li>
        <li{% if current_page == 'pricing' %} class="current_page"{% endif %}>
            <a href="{{ path('pricing') }}">Tarifs</a>
        </li>
        <li{% if current_page == 'pictures' %} class="current_page"{% endif %}>
            <a href="{{ path('pictures') }}">Photos</a>
        </li>
        <li{% if current_page == 'options' %} class="current_page"{% endif %}>
            <a href="{{ path('options') }}">Options</a>
        </li>
        <li{% if current_page == 'reservation' %} class="current_page"{% endif %}>
            <a href="{{ path('reservation') }}">Devis</a>
        </li>
    </ul>
</nav>