<!DOCTYPE html>
<html>
    <head>
        <title>{% if title is defined %}{{ title }}{% else %}Mini bus party Paris{% if name is defined %} - {{ name }}{% endif %}{% endif %}</title>
        <meta charset="UTF-8">
        {% if route is defined %}
            <link rel="canonical" href="https://www.mini-bus-party-paris.fr{{ route }}">
        {% endif %}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="google-site-verification" content="AZsRbWnj2HNCaoy-kl4HcpXjT6a8FKQsSWvJB10FxjQ" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('main') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('main') }}
        {% endblock %}
    </head>
    <body>
        {% include 'layouts/header.html.twig' %}
        <main id="page_{{ current_page }}">{% block body %}{% endblock %}</main>
        {% include 'layouts/footer.html.twig' %}
        {% block modals %}{% endblock %}
    </body>
</html>
